<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BullFlix - About Us</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <main>
        <h2>Our Team Members</h2>
        <section class="team">
            <div class="member">
                <img src="/img/Anish_dp.jpeg" alt="Team Member 1">
                <h3>Anish Babu Gogineni</h3>
                <p><strong>Data Engineer</strong></p>
                <p>
                    A Graduate student at USF pursing a major in Business Analytics and Information Systems
                    with prior experience in data engineering and strong expertise in SQL, Python and Microsoft Azure.
                </p>
            </div>
            <div class="member">
                <img src="/img/Lohith_dp.jpeg" alt="Team Member 2">
                <h3>Lohith Raj Nacham</h3>
                <p><strong>Software Developer</strong></p>
                <p>
                    This is Lohit Raj Nacham, hailing from India, I am a seasoned software developer
                    with 2.5 years of experience. Currently pursuing a master's degree in Business, I am passionate about entrepreneurship.
                </p>
            </div>
            <div class="member">
                <img src="/img/Gayathri_dp.jpeg" alt="Team Member 3">
                <h3>Naga Gayathiri Devi Kasturi</h3>
                <p><strong>Application Development Analyst</strong></p>
                <p>
                    I'm student at USF's Business Analytics and Information Systems graduate program.
                    I worked for over 2 years as a Application development analyst and automation developer.
                </p>
            </div>
            <div class="member">
                <img src="/img/Sunil_dp.jpeg" alt="Team Member 4">
                <h3>Sai Sunil Gangupamu</h3>
                <p><strong>Business Analyst</strong></p>
                <p>
                    This is Sunil, A graduate student at USF currently pursuing a major
                    in business analytics and having a prior experience in robotic automation sector.
                </p>
            </div>
        </section>

        <section class="data-model">
            <h2>The Data Model</h2>
            <p>Below is the Entity-Relationship Diagram (ERD) representing our data model:</p>
            <img src="/img/ERD.jpeg" alt="ERD Diagram">
        </section>

        <section class="git-link">
            <h2>Project Code</h2>
            <p>Here is the GitHub link for our code: <a href="https://github.com/anish-gogineni/Assignment_LookAndFeel.git">GitHub Link</a></p>
            <br>
        </section>
 <section class="commit-history">
            <h2>Commit History</h2>

            <p><li>Here are the files updated by each person</li></p>
            <img src="/img/commit.png" alt="files updated by each person">

            <br><br><br>
            <br><br><br>
            <br><br><br>
        </section>

    </main>
    <footer>
        <p>&copy; 2024 BullFlix. All rights reserved.</p>
    </footer>
</body>
</html>
